<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iwallic.app">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/ThemeDefault">
        <provider
            android:name=".base.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".base.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.MainActivity" />
        <activity android:name=".pages.user.UserSettingActivity" />
        <activity android:name=".pages.user.UserSettingLanguageActivity" />
        <activity android:name=".pages.user.UserSettingThemeActivity" />
        <activity android:name=".pages.wallet.WalletActivity" />
        <activity android:name=".pages.wallet.WalletCreateActivity" />
        <activity android:name=".pages.wallet.WalletImportActivity" />
        <activity android:name=".pages.wallet.WalletBackupActivity" />
        <activity android:name=".pages.wallet.WalletVerifyActivity" />
        <activity android:name=".pages.transaction.TransactionTransferActivity" />
        <activity android:name=".pages.transaction.TransactionDetailActivity" />
        <activity android:name=".pages.transaction.TransactionUnconfirmedActivity"/>
        <activity android:name=".pages.asset.AssetDetailActivity" />
        <activity android:name=".pages.asset.AssetManageActivity" />
        <activity android:name=".pages.transaction.TransactionReceiveActivity" />
        <activity android:name=".pages.user.UserSettingNetActivity" />
        <activity android:name=".pages.user.UserBrowserActivity" />
        <activity android:name=".pages.user.UserSupportActivity" />
        <activity android:name=".pages.user.UserAboutActivity" />

        <service
            android:name=".services.BlockService"
            android:enabled="true" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <service
            android:name=".services.DownloadService"
            android:enabled="true" />
    </application>
</manifest>